
:root {
  --bg-cl: #FFF;
  --primary-cl: #fff;
  --secondary-cl: rgb(50, 50, 190);
  --dark-cl: #0a0a0a;
  --ascent-cl: rgb(158, 97, 209);
  --background-cl: #e6e8ce;
  --card-full-bg-cl: rgb(255, 217, 0);
  --card-full-tele-bg-cl: rgb(221, 19, 19);
  --card-full-airtel-bg-cl:  rgb(6, 6, 231);
  --border-cl-2: rgba(66, 66, 26, 0.226);
  --mtn-btn: rgb(193, 196, 19);
  --telecel-btn: rgb(180, 57, 19);
  --airteltigo-btn: rgb(28, 46, 119);
}

/****-----PHONE INPUT MODAL-------------****/
/* ===== MODAL STYLING ===== */


* {
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html:focus-within{
  scroll-behavior: smooth;
}


body {
  width: 100%;
  height: 100%;
  background: transparent;
  overflow-y: auto;
  margin: 0;
  padding: 0;
}


/****
WATCH VIDEO SECTION
***/


/**
* NAVIGATION BAR
**/
.navbar {
  display: flex;
  width: 100%;
  justify-self: center;
  height: 3.8rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0;
  justify-self: center;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  padding: 1rem 1rem;
  z-index: 1000;
}

/**
* NAV LEFT
**/
.navbar .nav-left{
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-left a{
display: flex;
align-items: center;
justify-content: center;
gap: .4rem;
text-decoration: none;
color: black;
}


.nav-left img{
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3);
  cursor: pointer;
  border: 2px solid var(--background-cl);
}






body {
  font-family: 'Poppins', sans-serif;
  background: #f8f9fc;
  margin: 0;
  color: #333;
}

/* Header */
.header {
  text-align: center;
  padding: 40px 20px 20px;
  background: linear-gradient(135deg,  rgb(230, 98, 120), rgb(64, 64, 230));
  color: white;
  width: 100%;
  height: 15rem;
  max-width: 480px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  border-end-end-radius: 3rem;
  border-end-start-radius: 3rem;
  border: 0.1px solid var(--background-cl);
  margin-top: 3rem;
}

.nav-icons{
  display:flex;
  width: 100%;
  justify-self: center;
  height: 3.2rem;
  top: 0;
  align-items: center;
  justify-content: space-between;
  background: var(--bg-cl);
  position: fixed;
  overflow: hidden;
  padding: 0.2rem 1rem;
  box-shadow: 0 3px 6px rgba(0,0,0,0.4);
  z-index: 10000;
}

.nav-icons .nav-icon-left{
  display: flex;
  align-items: center;
  position: relative;
}

.nav-icon-left img{
  width: 2.8rem;
  height: 2.8rem;
  cursor: pointer;
}

.nav-icon-right{
  display: flex;
  align-items: center;
  position: relative;
}

.nav-icon-right img{
  width: 2.3rem;
  height: 2.3rem;
  background: rgb(236, 231, 231);
  padding: .1rem;
  border-radius: .3rem;
  cursor: pointer;
}


.a-g{
  border-radius: 50%;
}

.header .logo {
  width: 70px;
  height: auto;
  margin-bottom: 10px;
}

.header h1 {
  font-size: 2rem;
  margin: 10px 0 5px;
}

.header p {
  opacity: 0.9;
  color: var(--dark-cl);
}

/***8
MAIN CONTAINER


****/
.main-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: max-content;
  gap: 1rem;
  padding: 1rem;
  background: transparent;
  justify-self: center;
  margin: 1rem 0;
  position: relative;
  align-items: center;
  justify-content: center;
}


.detail-wrapper{
  width: 100%;
  height: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 460px;
  justify-self: center;
  margin-top: 1rem;
  box-shadow: 0 2px 6px rgba(131, 127, 127, 0.993);
  z-index: 99;
  overflow: hidden;
}

.tv-stand{
  width: 100%;
  height: 1rem;
  display: flex;
  margin-top: .4rem;
  align-items: start;
  justify-content: center;
  gap: 10rem;
  background:transparent;
  z-index: 1;
}

.stand-left{
  width: 4rem;
  height: 6px;
  display: flex;
  background-color: rgb(0, 0, 0);
  rotate: 120deg;
  border-end-start-radius: .7rem;
  border-start-end-radius: .8rem;
}

.stand-right{
width: 4rem;
height: 6px;
display: flex;
background: black;
rotate: -120deg;
border-end-end-radius: .7rem;
border-start-start-radius: .8rem;
}

.table{
  width: 100%;
  max-width: 380px;
  justify-self: center;
  align-items: center;
  justify-content: space-between;
  height: 8px;
  gap: 1rem;
  display: flex;
  margin-top: .4rem;
}

.left-table{
  width: 20%;
  max-width: 380px;
  justify-self: center;
  height: 8px;
  display: flex;
  background-color: rgb(37, 36, 36);
  margin-top: .8rem;
  margin-left: 1rem;
}

.right-table{
  width: 20%;
  max-width: 380px;
  justify-self: center;
  height: 8px;
  display: flex;
  background-color: rgb(37, 36, 36);
  margin-top: .8rem;
  margin-right: 1rem;
}



.details-div{
  width: 100%;
  height: 13.5rem;
  max-width: 440px;
  justify-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
  background: rgb(5, 4, 4);
  margin: 1rem 0;
  border: 0.1px solid var(--background-cl);
  border-radius: .1rem;
  box-shadow: 0 4px 8px rgba(39, 37, 37, 0.3);
}


.badge{
  width: 100%;
  height: 2.6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
}

.badge-left{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 100%;
  padding: 0 .2rem;
  margin-left: -.04rem;
  background-color: white;
  border-start-end-radius: 1.4rem;
  border-end-end-radius: 1.4rem;
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.993);
}

.badge-left img{
  width: 1.6rem;
  height: 1.6rem;
  margin-right: .4rem;
}


.badge-right{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.4rem;
  height: 100%;
  margin-right: -.04rem;
  box-shadow: inset 0 2px 6px rgba(255, 255, 255, 0.993);
  background-color: white;
  font-size: .9rem;
  font-family: serif;
  font-weight: 600;
  border-start-start-radius: 1.4rem;
  border-end-start-radius: 1.4rem;
}

.deal{
  width: 83%;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: rgb(54, 50, 50);
  z-index: 10;
  padding: .2rem .2rem;
  border-radius: .5rem;
}

.deal video{
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: .5rem;
  box-shadow: inset 0 2px 6px rgba(0,0,0,0.2);
}





/***
PAGE CARDS CONTAINER
***/
.page-cards-container{
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  position: relative;
  padding: .5rem;
}

.card-div{
  width: 12.5rem;
  border: 0.1px solid var(--bg-cl);
  height: 19rem;
  display: flex;
  gap: .2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background: rgba(0, 0, 0, 0.993);
  border-radius: .9rem;
}

.card-div-top{
  width: 96.0%;
  height: 57%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  background-color: rgb(216, 165, 173);
  border-radius: 1rem;
}

.card-div-top img{
  width: 100%;
  height: auto;
}


.card-div-bottom{
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  align-items: center;
  justify-content: center;
  background: transparent;
  width: 97.0%;
  height: 39%;
  color: white;
  position: relative;
}

.tittle-tag{
  width: 100%;
  height: 20%;
  display: flex;
  padding: 0 .2rem;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.tittle-tag h6{
  font-size: .8rem;
}

.tittle-tag small{
font-size: .8rem;
}

.buy-btn{
  width: 90%;
  border: none;
  padding: .35rem;
  background: white;
  cursor: pointer;
  color: var(--dark-cl);
  font-family: serif;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 1rem;
}

















/* CTA */
.cta {
  text-align: center;
  background: #e3f2fd;
  padding: 40px 20px;
  border-top: 1px solid #ccc;
}

.cta h2 {
  color: #0d47a1;
}

.cta-btn {
  display: inline-block;
  margin-top: 15px;
  background: #0d47a1;
  color: white;
  padding: 12px 25px;
  border-radius: 8px;
  text-decoration: none;
}

.cta-btn:hover {
  background: #1565c0;
}


.back-home {
  display: inline-block;
  margin-top: 15px;
  background: #f44336;
  color: white;
  padding: 15px 20px;
  border: none;
  margin: 0 1rem;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s ease;
}


.back-home:hover{
  background:  #cf352a;
}